@font-face {
  font-family: "LeagueRegular";
  src: local("LeagueGothic"),
    url('../../assets/fonts/LeagueGothic-Regular.otf') format("truetype");
  font-weight: normal;
}

.button {
    background-color: #c5f710;
    border-radius: 100px;
    border-color: transparent;
    width: 150px;
    white-space: pre-line;
    font-family: LeagueRegular;
    font-size: 28px;
    margin: 10px;
    padding: 5px;

    &:hover {
      background-color: white;
      color: black;
      border-color: transparent;
    }
  }

.button-address-label {
  font-size: small !important;
}
