@font-face {
  font-family: "LeagueRegular";
  src: local("LeagueGothic"),
    url('../../assets/fonts/LeagueGothic-Regular.otf') format("truetype");
  font-weight: normal;
}

.header {
  //background-color: black !important;
  .logo-container {
    height: 50px;
    width: 0px;
    padding: 0px;
    padding-left: 30px ;
  }

  .options {
    width: 80%;
    height: 100%;
    display: flex;

    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      size: 200px;
      color: white !important;
      font-family: LeagueRegular;
      font-size: xx-large;
    }
  }
}

.header-background-home {
  background-image: url("../../assets/imgs/Background_Orange.png") !important;  
}

.header-background-mint {
  background-image: url("../../assets/imgs/background_mint-01.png") !important;  
}