@font-face {
  font-family: "LeagueRegular";
  src: local("LeagueGothic"),
    url('../../assets/fonts/LeagueGothic-Regular.otf') format("truetype");
  font-weight: normal;
}

.header {

  .logo-container {
    height: 50px;
    width: 0px;
    padding: 0px;
    padding-left: 30px ;
  }

  .options {
    width: 80%;
    height: 100%;
    display: flex;

    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      size: 200px;
      color: white !important;
      font-family: LeagueRegular;
      font-size: xx-large;
    }
  }
}