@font-face {
  font-family: "LeagueRegular";
  src: local("LeagueGothic"),
    url('../../assets/fonts/LeagueGothic-Regular.otf') format("truetype");
  font-weight: normal;
}

.mint-btn {
  text-align: center;
  color: #000000;
  font-size: 36px;
  margin-bottom: 0%;
  margin-top: -1%;
  background-color: #c5f710;
  border-radius: 100px;
  border-color: transparent;
  width: 300px;
  height: 90px;
  white-space: pre-line;
  font-family: LeagueRegular;
  line-height: 110%;
  
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-color: transparent;
  }
  
  .mint-button-address-label {
    line-height: 40%;
    font-size: large !important;
  }

}


@media (max-width: 699px) {
  .mint-btn {
    text-align: center;
    color: #000000;
    font-size: 36px;
    margin-bottom: 0%;
    margin-top: -1%;
    background-color: #c5f710;
    border-radius: 100px;
    border-color: transparent;
    width: 300px;
    height: 90px;
    white-space: pre-line;
    font-family: LeagueRegular;
    line-height: 110%;
    
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
      border-color: transparent;
    }
    
    .mint-button-address-label {
      line-height: 40%;
      font-size: large !important;
    }
  
  }
  
}
