
.body {
    align-items: center;
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 150px;
    margin-right: 150px;
    width: auto;
  }

  #bg1 {
    top: 0; 
    bottom: 0; 
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  #bg-scroll {
    top: 0; 
    left: 0; 
    width: auto;
  }