@font-face {
  font-family: "LeagueRegular";
  src: local("LeagueGothic"),
    url('../../assets/fonts/LeagueGothic-Regular.otf') format("truetype");
  font-weight: normal;
}

@media only screen and (max-width: 1024px) {
  .container {
    background-color: aqua;
    position: relative;
    padding-left: 0;

  }
}

@media only screen and (max-width: 1024px) {
  .container img {
    
  }
}

// .text-wrapper {
//   width: 100%;
//   position: relative;
//   margin-top: -40%;
//   padding-left: 30px;
// }

// .text-wrapper h1 {
//   text-align: center;
//   color: #000000;
//   font-size: 9vw;
//   font-family: LeagueRegular;
//   margin-bottom: 0%;
//   margin-top: -3%;
// }
  
  .page {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    
    .bg-image {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
    }

  }

  .container {
    position: relative;
    
    .image{
      position: absolute;
      width: 100%;
      object-fit: cover;
    }

    .text-wrapper {
      width: 100%;
      position: fixed;
      bottom: 30%;
      left: 5%;
      right: 50%;
    }

    .text-wrapper h1{
      text-align: center;
      color: #000000;
      font-size: 9vw;
      position: relative;
      font-family: LeagueRegular;
      margin-bottom: 0%;
      margin-top: -3%;
    }
    
    .btn {
      position:fixed;
      bottom: 12%;
      left: 37%;
      right: 50%;
    
    }
}