body {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

