body {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("/src/assets/imgs/Background_Orange.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(245, 111, 62); 
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.mints1 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("/src/assets/imgs/background_mint-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(245, 111, 62); 
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

