
.homepage {
  align-items: center;
  padding: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 150px;
  margin-right: 150px;
  width: auto;
}

@font-face {
  font-family: "LeagueGothic";
  src: local("LeagueGothic"),
    url('../../assets/fonts/LeagueGothic-Italic.otf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "LeagueRegular";
  src: local("LeagueGothic"),
    url('../../assets/fonts/LeagueGothic-Regular.otf') format("truetype");
  font-weight: normal;
}

#bg {
  top: 0; 
  bottom: 0; 
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.bottonBand {
  height: 55px;
  width: 100%;
  background-position: center;
  background-size: contain;
  place-items: center;
}

.textBand {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: LeagueRegular;
  white-space: nowrap;
}