
.homepage {
  align-items: center;
  padding: 0px;
  padding-right: 0px;
  padding-left: 0px;

  width: auto;
}

@font-face {
  font-family: "LeagueGothic";
  src: local("LeagueGothic"),
    url('../../assets/fonts/LeagueGothic-Italic.otf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "LeagueRegular";
  src: local("LeagueGothic"),
    url('../../assets/fonts/LeagueGothic-Regular.otf') format("truetype");
  font-weight: normal;
}


@media (min-width: 700px) {
  
  .mint-page {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  
    .mint-bg-image {
      position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
    }
    
    .mint-img {
      margin-top: -40px;
      position: fixed;
      margin-left: 25px;
      max-width:100%;
      max-height:100%;
    }
  }
}


@media (max-width: 850px) {
  
  .navbar-nav {
    overflow: visible !important;
  }

  .mint-page {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  
    .mint-bg-image {
      position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
    }
    
    .mint-img {
      margin-top: 60px;
      position: relative;
      max-width:100%;
      max-height:100%;
    }
   
  }
}

@media (max-width: 300px) {
  .mint-page {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  
    .mint-bg-image {
      position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
    }
    
    .mint-img {
      margin-top: 120px;
      position: initial;
      max-width:100%;
      max-height:100%;
    }
   
  }
}

.sm-text-mint {
  font-size: 6vh;
  color: white;
  text-align: center;
  margin-top: 20px;
  position: relative;
  font-family: LeagueRegular;
  align-content: center;
}

